<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<title>About Nick</title>

  <link rel="stylesheet" type="text/css" href="/static/css/about.css" />
  <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.11333.js"></script>
  <script type="text/javascript" src="/static/js/navscript.js"></script>
</head>

<body>

<div class="container">
  
  <a href="#" id="menu"><img src="/static/icons/r-arr.png" id="menu-img"></a>

  <div class="nav">
    <a href="/index" class="nav-a"><img src="/static/icons/homepage.png" /></a>
    <a href="/gallery" class="nav-b"><img src="/static/icons/pics.png" /></a>
    <a href="/portfolio" class="nav-c"><img src="/static/icons/folio.png" /></a>
    <a href="/blog" class="nav-d"><img src="/static/icons/blog.png" /></a>
    <a href="/contact" class="nav-e"><img src="/static/icons/contact.png" /></a>
  </div>


  <div class="header">
    <div class="icon-lg">
      <img src="/static/icons/idcard_lg.png">
    </div>
    <div class="hdr-txt">
      <h1><strong>Wait, who??</strong></h1> <br>
      <p>My name is Nick Tobat. I grew up in Northern Virginia but right now I'm growing up in Adelaide, Australia. I started teaching myself to code in the summer of 2014, just after graduating frivolously with a degree in political science and moving to the technology Mecca that is San Francisco. It was there that I also began creating space art with spraypaint and discarded scraps of drywall, and built my very own fully functional aquaponics garden out of a plastic 55-gallon drum. What else do you want to know? I wear glasses, and I used to wear earrings in both ears. I let my facial hair grow out for the first time this year, and I gotta say I quite like it.
      <br><br>
      Anyway, keep scrolling so that you may behold the timeline of my short yet glorious life.
      </p>
    </div>
  </div>


<div class="timeline">
  <h2 class="ss-title">The Tobat Timeline</h2>
<!--  <div id="ss-links" class="ss-links">
		<a href="#november">Nov</a>
		<a href="#october">Oct</a>
		<a href="#september">Sep</a>
		<a href="#august">Aug</a>
		<a href="#july">Jul</a>
		<a href="#june">Jun</a>
	</div>-->
  <div id="ss-container" class="ss-container">
    <div class="ss-row">
      <div class="ss-left">
        <h2 id="november">13.8 Billion</h2>
      </div>
      <div class="ss-right">
        <h2>Years Ago</h2>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <a href="http://en.wikipedia.org/wiki/Big_Bang" class="ss-circle ss-circle-1">Big Bang</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>October 14, 13,800,000,000 B.C.E.</span>
          <a href="http://en.wikipedia.org/wiki/Big_Bang">The Big Bang Banged</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <h3>
          <span>January 2, 4,560,000,000 B.C.E.</span>
          <a href="http://www.amazon.com/Planet-Earth-The-Complete-Series/dp/B000MR9D5E">The Earth Was Born</a>
        </h3>
      </div>
      <div class="ss-right">
        <a href="http://www.amazon.com/Planet-Earth-The-Complete-Series/dp/B000MR9D5E" class="ss-circle ss-circle-2">The Earth Was Born</a>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
      	<a href="http://en.wikipedia.org/wiki/History_of_Earth" class="ss-circle ss-circle-3">Stuff</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>Since Then...</span>
          <a href="http://en.wikipedia.org/wiki/History_of_Earth">ALL Kinds of Stuff Went On</a>
        </h3>
      </div>
    </div>
    <div class="ss-row">
      <div class="ss-left">
        <h2>1992</h2>
      </div>
      <div class="ss-right">
        <h2>to &nbsp;&nbsp;&nbsp;2000</h2>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <h3>
          <span>February 2, 1992</span>
          <a href="http://www.urbandictionary.com/define.php?term=birthday+suit">Donned My First Birthday Suit</a>
        </h3>
      </div>
      <div class="ss-right">
        <a href="http://www.urbandictionary.com/define.php?term=birthday+suit" class="ss-circle ss-circle-4">Birthday Suit</a>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
        <a href="http://en.wikipedia.org/wiki/North_American_blizzard_of_1996" class="ss-circle ss-circle-5">Blizzard</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>January 6, 1996</span>
          <a href="http://en.wikipedia.org/wiki/North_American_blizzard_of_1996">My First Blizzard</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-small">
      <div class="ss-left">
        <a href="http://academia.stackexchange.com/" class="ss-circle ss-circle-6">Academia</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>September 1997</span>
          <a href="http://academia.stackexchange.com/">My Academic Career Begins</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <h3>
          <span>September 2000</span>
          <a href="http://www.science20.com/news_articles/people_who_wear_glasses_really_are_smarter-139427">I'm Told I Need Glasses</a>
        </h3>
      </div>
      <div class="ss-right">
        <a href="http://www.science20.com/news_articles/people_who_wear_glasses_really_are_smarter-139427" class="ss-circle ss-circle-7">Glasses</a>
      </div>
    </div>
    <div class="ss-row">
      <div class="ss-left">
        <h2 id="october">2001</h2>
      </div>
      <div class="ss-right">
        <h2>to 2010</h2>
      </div>
    </div>
    <div class="ss-row ss-small">
      <div class="ss-left">
        <h3>
          <span>September 2006</span>
          <a href="http://tympanus.net/Development/FullscreenImage3DEffect/">Start High School</a>
        </h3>
      </div>
      <div class="ss-right">
        <a href="http://tympanus.net/Development/FullscreenImage3DEffect/" class="ss-circle ss-circle-8">High School</a>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <a href="http://en.wikipedia.org/wiki/Royal_Canadian_Henley_Regatta" class="ss-circle ss-circle-10">Canley</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>August 9, 2009</span>
          <a href="http://en.wikipedia.org/wiki/Royal_Canadian_Henley_Regatta">Second Place in the Junior Men's Eight at Canadian Henley</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-small">
      <div class="ss-left">
        <h3>
          <span>May 13, 2010</span>
          <a href="#/">Cut My Long Hippie Hair</a>
        </h3>
      </div>
      <div class="ss-right">
	      <a href="#/" class="ss-circle ss-circle-11">Haircut</a>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
        <a href="#/" class="ss-circle ss-circle-12">Graduation</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>June 18, 2010</span>
          <a href="#/">Graduate High School</a>
        </h3>
      </div>
    </div>
    <div class="ss-row">
      <div class="ss-left">
        <h2 id="october">2010</h2>
      </div>
      <div class="ss-right">
        <h2>to 2014</h2>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <h3>
          <span>August 23, 2010</span>
          <a href="#/">Begin School at Virginia Tech</a>
        </h3>
      </div>
      <div class="ss-right">
      	<a href="#/" class="ss-circle ss-circle-13">VT</a>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
        <a href="http://www.admission.virginia.edu/studentlife" class="ss-circle ss-circle-14">UVA</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>March 19, 2011</span>
          <a href="http://www.admission.virginia.edu/studentlife">Accepted as a Transfer Student at the University of Virginia</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <h3>
          <span>May 17, 2014</span>
          <a href="#/">Graduate From UVA</a>
        </h3>
      </div>
      <div class="ss-right">
      	<a href="#/" class="ss-circle ss-circle-15">Graduate UVA</a>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
        <a href="http://www.theguardian.com/world/2014/feb/23/is-san-francisco-losing-its-soul" class="ss-circle ss-circle-16">San Francisco</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>July 2, 2014</span>
          <a href="http://www.theguardian.com/world/2014/feb/23/is-san-francisco-losing-its-soul">Move to San Francisco, California</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-small">
      <div class="ss-left">
        <a href="http://break-out.co/" class="ss-circle ss-circle-17">Tech Recruiting</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>July 17, 2014</span>
          <a href="http://break-out.co/">Start Work at a Tech Recruiting Startup</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
        <h3>
          <span>August 24, 2014</span>
          <a href="http://www.codecademy.com">Start Teaching Myself to Code</a>
        </h3>
      </div>
      <div class="ss-right">
        <a href="http://www.codecademy.com" class="ss-circle ss-circle-18">Coding</a>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
      	<a href="https://www.youtube.com/watch?v=p3f-eDzkxcw" class="ss-circle ss-circle-19">Oakland</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>September 1, 2014</span>
          <a href="https://www.youtube.com/watch?v=p3f-eDzkxcw">Move to Oakland, California</a>
        </h3>
      </div>
    </div>
    <div class="ss-row">
      <div class="ss-left">
        <h2 id="august">Year</h2>
      </div>
      <div class="ss-right">
        <h2>2015</h2>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
      	<h3>
          <span>January 19, 2015</span>
          <a href="http://suzyogi.com">Publish My First Website</a>
        </h3>
      </div>
      <div class="ss-right">
      	<a href="http://suzyogi.com" class="ss-circle ss-circle-21">First Website</a>
      </div>
    </div>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <a href="#/" class="ss-circle ss-circle-22">World Tour</a>
      </div>
      <div class="ss-right">
        <h3>
          <span>March 2, 2015</span>
          <a href="#/">Depart for a Backpacking Trip Across Europe & Asia</a>
        </h3>
      </div>
    </div>
    <div class="ss-row ss-large">
      <div class="ss-left">
      	<h3>
          <span>April 16, 2015</span>
          <a href="#/">Arrive in Australia With a 1-Year Visa</a>
        </h3>
      </div>
      <div class="ss-right">
      	<a href="#/" class="ss-circle ss-circle-23">Australia</a>
      </div>
    </div>
</div>

</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript">
		$(function() {

			var $sidescroll	= (function() {
					
					// the row elements
				var $rows			= $('#ss-container > div.ss-row'),
					// we will cache the inviewport rows and the outside viewport rows
					$rowsViewport, $rowsOutViewport,
					// navigation menu links
					$links			= $('#ss-links > a'),
					// the window element
					$win			= $(window),
					// we will store the window sizes here
					winSize			= {},
					// used in the scroll setTimeout function
					anim			= false,
					// page scroll speed
					scollPageSpeed	= 2000 ,
					// page scroll easing
					scollPageEasing = 'easeInOutExpo',
					// perspective?
					hasPerspective	= false,
					
					perspective		= hasPerspective && Modernizr.csstransforms3d,
					// initialize function
					init			= function() {
						
						// get window sizes
						getWinSize();
						// initialize events
						initEvents();
						// define the inviewport selector
						defineViewport();
						// gets the elements that match the previous selector
						setViewportRows();
						// if perspective add css
						if( perspective ) {
							$rows.css({
								'-webkit-perspective'			: 600,
								'-webkit-perspective-origin'	: '50% 0%'
							});
						}
						// show the pointers for the inviewport rows
						$rowsViewport.find('a.ss-circle').addClass('ss-circle-deco');
						// set positions for each row
						placeRows();
						
					},
					// defines a selector that gathers the row elems that are initially visible.
					// the element is visible if its top is less than the window's height.
					// these elements will not be affected when scrolling the page.
					defineViewport	= function() {
					
						$.extend( $.expr[':'], {
						
							inviewport	: function ( el ) {
								if ( $(el).offset().top < winSize.height ) {
									return true;
								}
								return false;
							}
						
						});
					
					},
					// checks which rows are initially visible 
					setViewportRows	= function() {
						
						$rowsViewport 		= $rows.filter(':inviewport');
						$rowsOutViewport	= $rows.not( $rowsViewport )
						
					},
					// get window sizes
					getWinSize		= function() {
					
						winSize.width	= $win.width();
						winSize.height	= $win.height();
					
					},
					// initialize some events
					initEvents		= function() {
						
						// navigation menu links.
						// scroll to the respective section.
						$links.on( 'click.Scrolling', function( event ) {
							
							// scroll to the element that has id = menu's href
							$('html, body').stop().animate({
								scrollTop: $( $(this).attr('href') ).offset().top
							}, scollPageSpeed, scollPageEasing );
							
							return false;
						
						});
						
						$(window).on({
							// on window resize we need to redefine which rows are initially visible (this ones we will not animate).
							'resize.Scrolling' : function( event ) {
								
								// get the window sizes again
								getWinSize();
								// redefine which rows are initially visible (:inviewport)
								setViewportRows();
								// remove pointers for every row
								$rows.find('a.ss-circle').removeClass('ss-circle-deco');
								// show inviewport rows and respective pointers
								$rowsViewport.each( function() {
								
									$(this).find('div.ss-left')
										   .css({ left   : '0%' })
										   .end()
										   .find('div.ss-right')
										   .css({ right  : '0%' })
										   .end()
										   .find('a.ss-circle')
										   .addClass('ss-circle-deco');
								
								});
							
							},
							// when scrolling the page change the position of each row	
							'scroll.Scrolling' : function( event ) {
								
								// set a timeout to avoid that the 
								// placeRows function gets called on every scroll trigger
								if( anim ) return false;
								anim = true;
								setTimeout( function() {
									
									placeRows();
									anim = false;
									
								}, 10 );
							
							}
						});
					
					},
					// sets the position of the rows (left and right row elements).
					// Both of these elements will start with -50% for the left/right (not visible)
					// and this value should be 0% (final position) when the element is on the
					// center of the window.
					placeRows		= function() {
						
							// how much we scrolled so far
						var winscroll	= $win.scrollTop(),
							// the y value for the center of the screen
							winCenter	= winSize.height / 2 + winscroll;
						
						// for every row that is not inviewport
						$rowsOutViewport.each( function(i) {
							
							var $row	= $(this),
								// the left side element
								$rowL	= $row.find('div.ss-left'),
								// the right side element
								$rowR	= $row.find('div.ss-right'),
								// top value
								rowT	= $row.offset().top;
							
							// hide the row if it is under the viewport
							if( rowT > winSize.height + winscroll ) {
								
								if( perspective ) {
								
									$rowL.css({
										'-webkit-transform'	: 'translate3d(-75%, 0, 0) rotateY(-90deg) translate3d(-75%, 0, 0)',
										'opacity'			: 0
									});
									$rowR.css({
										'-webkit-transform'	: 'translate3d(75%, 0, 0) rotateY(90deg) translate3d(75%, 0, 0)',
										'opacity'			: 0
									});
								
								}
								else {
								
									$rowL.css({ left 		: '-50%' });
									$rowR.css({ right 		: '-50%' });
								
								}
								
							}
							// if not, the row should become visible (0% of left/right) as it gets closer to the center of the screen.
							else {
									
									// row's height
								var rowH	= $row.height(),
									// the value on each scrolling step will be proporcional to the distance from the center of the screen to its height
									factor 	= ( ( ( rowT + rowH / 2 ) - winCenter ) / ( winSize.height / 2 + rowH / 2 ) ),
									// value for the left / right of each side of the row.
									// 0% is the limit
									val		= Math.max( factor * 50, 0 );
									
								if( val <= 0 ) {
								
									// when 0% is reached show the pointer for that row
									if( !$row.data('pointer') ) {
									
										$row.data( 'pointer', true );
										$row.find('.ss-circle').addClass('ss-circle-deco');
									
									}
								
								}
								else {
									
									// the pointer should not be shown
									if( $row.data('pointer') ) {
										
										$row.data( 'pointer', false );
										$row.find('.ss-circle').removeClass('ss-circle-deco');
									
									}
									
								}
								
								// set calculated values
								if( perspective ) {
									
									var	t		= Math.max( factor * 75, 0 ),
										r		= Math.max( factor * 90, 0 ),
										o		= Math.min( Math.abs( factor - 1 ), 1 );
									
									$rowL.css({
										'-webkit-transform'	: 'translate3d(-' + t + '%, 0, 0) rotateY(-' + r + 'deg) translate3d(-' + t + '%, 0, 0)',
										'opacity'			: o
									});
									$rowR.css({
										'-webkit-transform'	: 'translate3d(' + t + '%, 0, 0) rotateY(' + r + 'deg) translate3d(' + t + '%, 0, 0)',
										'opacity'			: o
									});
								
								}
								else {
									
									$rowL.css({ left 	: - val + '%' });
									$rowR.css({ right 	: - val + '%' });
									
								}
								
							}	
						
						});
					
					};
				
				return { init : init };
			
			})();
			
			$sidescroll.init();
			
		});
		</script>
    </body>
</html>