<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<title>Nicholas Tobat</title>

	<link href="/static/css/index.css" rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</head>


<body>

<nav>
	<ul>
		<li>
			<a href="/about" class="navlink">
				<img src="/static/icons/idcard.png">
				<span class="txt">ABOUT</span>
			</a>
		</li>
		<li>
			<a href="/gallery" class="navlink">
				<img src="/static/icons/pics.png">
				<span class="txt">GALLERY</span>
			</a>
		</li>
		<li>
			<a href="/portfolio" class="navlink">
				<img src="/static/icons/folio.png">
				<span class="txt">PORTFOLIO</span>
			</a>
		</li>
		<li>
			<a href="/blog" class="navlink">
				<img src="/static/icons/blog.png">
				<span class="txt">BLOG</span>
			</a>
		</li>
		<li>
			<a href="/contact" class="navlink">
				<img src="/static/icons/contact.png">
				<span class="txt">CONTACT</span>
			</a>
		</li>
	</ul>
</nav>






</body>

</html>