<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<title>Portfolio - Nicholas Tobat</title>

  <link rel="stylesheet" type="text/css" href="/static/css/folio.css" />
  <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="css/styleIE.css" />
	<![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.11333.js"></script>
  <script type="text/javascript" src="/static/js/navscript.js"></script>
</head>

<body>

<div class="container clearfix">

  <a href="#" id="menu"><img src="/static/icons/r-arr.png" id="menu-img"></a>

  <div class="nav">
    <a href="/index" class="nav-a"><img src="/static/icons/homepage.png" /></a>
    <a href="/about" class="nav-b"><img src="/static/icons/idcard.png" /></a>
    <a href="/gallery" class="nav-c"><img src="/static/icons/pics.png" /></a>
    <a href="/blog" class="nav-d"><img src="/static/icons/blog.png" /></a>
    <a href="/contact" class="nav-e"><img src="/static/icons/contact.png" /></a>
  </div>


  <div class="header clearfix">
    <div class="icon-lg">
      <img src="/static/icons/folio_lg.png">
    </div>
    <div class="hdr-txt">
      <h1><strong>I make stuff.</strong></h1> <br>
      <p>My name is bla bla and I like to bla bla macarena, and once upon a time I had a dream that w ecould adll livie uas one and get along with ni problrmes and good vibes to sustain us trhoughout our long and glorious lives. and yaadad yada all the other things ,I live in australia now where they call sprinkles hudnreds and thousands, what kind of name is that it's crazy. I was tol a story alst night about aussie high school prom adter party a bunch of thug kids came to the party and ran in with mcaheets and pipes and baesbeal bats and beat up all the other kids, poor things. some had to go to hopsitoaal for their wounds and injusirse.
      <br><br>
      Anyway, keep scrolling so that you may behold the timeline of my short yet glorious life.
      </p>
    </div>
  </div>



</div>

</body>
</html>